<div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
    
        <mat-form-field>
          <mat-select placeholder="Skill Set">
                <mat-option value="select">select</mat-option>
            <mat-option value="C++">C++</mat-option>
            <mat-option value="C#">C#</mat-option>
            <mat-option value=".Net">.Net</mat-option>
            <mat-option value="Angular">Angular</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Experience"/>
              </mat-form-field>

              <mat-form-field>
                    <input matInput placeholder="Contact Number"/>
                  </mat-form-field><br/>
                  <button mat-raised-button color="primary">Save</button>
      </div>